.msg-send {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.bot-info {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}