:root {
  --green: #3FE79E;
  --dark: #0F0235;
  --off-white: #F5F5F3;
  --lighter-blue: #56baed;
  --background: var(--lighter-blue);

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;

  --default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  background: var(--background);
  padding: 0;
  margin: 0;
  font-family: var(--default-font-family);
  /* background: var(--lighter-blue); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}